<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:insert="~{/admin/layouts/header :: nav}"></nav>
<div align="center">
    <h1 style="margin-top:50px">관리자 페이지</h1>
    <button type="button" class="btn btn-primary" onclick="location.href='/admin/boardlist'">게시판 목록</button>
    <button type="button" class="btn btn-light" onclick="location.href='/admin/memberlist'">회원 목록</button>
    <button type="button" class="btn btn-dark" onclick="location.href='/main/main'">메인화면</button>
</div>
</body>
</html>