<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div align="center">
<h1>머리말종류</h1>
<div th:if="${preface!=null}" th:each="preface:${preface}">
    <a th:href="@{/admin/preface(prefaceIdx=${preface.prefaceIdx})}" ><span th:text="${preface.prefacename}"></span></a>
</div>
<div></div><br>
<input type="button" value="머리말 만들기" onclick="preface()">
<input type="button" value="이전으로" onclick="location.href='/admin/boardlist'" >
<form action="/admin/preface_proc" id="create" style="display:none">
    <input type="text" name="prefacename" placeholder="머리말 이름">
    <select name="prefacegrade">
        <option value="1">SILVER</option>
        <option value="2">GOLD</option>
        <option value="3">ADMIN</option>
    </select>
    <input type="submit" value="생성">
</form>
<script>
function preface(){
        var create = document.getElementById('create');
        create.style.display = "block";
    }
</script>
</div>
</body>
</html>