<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form>
    <div>
        <input type="text" name="settingname" placeholder="세팅이름">
    </div>
    <div>
        <input type="text" name="listnumber" placeholder="한페이지 갯수">
    </div>
    <div>
        <input type="text" name="writegrade" placeholder="글쓰기권한" >
    </div>
    <div>
        <input type="text" name="readgrade" placeholder="읽기권한">
    </div>
    <div>
        <input type="submit">
    </div>
</form>
</body>
</html>