<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>메인화면</title>
</head>
<body>
<!-- 네비게이션 바 -->
<nav th:replace="~{/layouts/header :: nav}"></nav>

<div class="container my-5">
    <h1 class="text-center mb-4">메인화면</h1>
    <div class="text-center mb-3">
        <span>[[${#authentication.principal.Name}]]님 로그인을 환영합니다</span>
    </div>
    <div class="d-flex justify-content-center mb-5">
        <button type="button" class="btn btn-secondary me-2" onclick="location.href='/main/view'">마이페이지</button>
        <button type="button" class="btn btn-success me-2" onclick="location.href='/board/board'">게시판</button>
        <div th:if="${grade==3}">
            <button type="button" class="btn btn-danger" onclick="location.href='/admin/main'">관리자페이지</button>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h4>공지사항</h4>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">글 제목</th>
                    <th scope="col">글쓴이</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="n:${notice}">
                    <td><span class="badge bg-primary">공지사항</span></td>
                    <td><a th:href="@{/board/view(boardIdx=${n.boardIdx})}" th:text="${n.title}"></a></td>
                    <td th:text="${n.member.name}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <h4>신규 게시글</h4>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">글 제목</th>
                    <th scope="col">글쓴이</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="b : ${boardall}">
                    <td><span class="badge bg-warning">new</span></td>
                    <td><a th:href="@{/board/view(boardIdx=${b.boardIdx})}" th:text="${b.title}"></a></td>
                    <td th:text="${b.member.name}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- 푸터 -->
<footer th:replace="~{/layouts/footer :: footer}"></footer>
</body>
</html>
