<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<nav th:replace="~{/layouts/header.html :: nav}"></nav>
<div align="center" style="margin-top:50px"><h1>마이페이지</h1></div>
<form id="boardForm">
    <table class="table table-bordered table-hover" align="center" style="width: 40%; margin: auto;">
        <tbody>
        <tr>
            <th scope="row">아이디</th>
            <td><span th:text="${user.getUsername()}"></span></td>
        </tr>
        <tr>
            <th scope="row">이름</th>
            <td th:text="${user.getName()}"></td>
        </tr>
        <tr>
            <th scope="row">이메일</th>
            <td th:text="${user.getEmail()}"></td>
        </tr>
        <tr>
            <th scope="row">회원등급</th>
            <td th:text="${user.getGrade()}"></td>
        </tr>
        </tbody>
    </table>
    <div class="text-center mt-3">
        <a href="/main/modify" class="btn btn-primary">회원정보수정</a>
        <a href="/main/delete" class="btn btn-danger" onclick="return deletebut()">회원탈퇴</a>
        <a href="/main/main" class="btn btn-secondary">메인으로</a>
    </div>
</form>
<footer th:replace="~{/layouts/footer :: footer}"></footer>
<script>
    function deletebut(){
        if(confirm("회원탈퇴 하시겠습니까?")){
            alert("회원탈퇴 완료되었습니다.");
            return true;
        }else{
            alert("회원탈퇴가 취소되었습니다.");
            return false;
        }
    }
</script>
</body>
</html>
