<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>회원가입 폼 검증</title>
    <script>
        function validateForm() {
            var userid = document.getElementById('id').value;
            var pwd = document.getElementById('pwd').value;
            var pwd1 = document.getElementById('pwd1').value;
            var name = document.getElementById('name').value;
            var email = document.getElementById('email').value;

            if (userid == "") {
                alert("아이디를 입력해주세요.");
                return false;
            }
            if (pwd == "") {
                alert("비밀번호를 입력해주세요.");
                return false;
            }
            if (pwd1 == "") {
                alert("비밀번호 확인을 입력해주세요.");
                return false;
            }
            if (pwd !== pwd1) {
                alert("비밀번호가 일치하지 않습니다.");
                return false;
            }
            if (name == "") {
                alert("이름을 입력해주세요.");
                return false;
            }
            if (email == "") {
                alert("이메일을 입력해주세요.");
                return false;
            }
            return true;
        }
    </script>
</head>
<body>
<div th:insert="~{/css/header :: nav}"></div>
<form action="/join/join_proc" onsubmit="return validateForm()">
    <table align="center">
        <tr>
            <td>아이디</td>
            <td><input type="text" name="userid" id="id"></td>
        </tr>
        <tr>
            <td>비밀번호</td>
            <td><input type="password" name="pwd" id="pwd"></td>
        </tr>
        <tr>
            <td>비밀번호 확인</td>
            <td><input type="password" name="pwd1" id="pwd1"></td>
        </tr>
        <tr>
            <td>이름</td>
            <td><input type="text" name="name" id="name"></td>
        </tr>
        <tr>
            <td>이메일</td>
            <td><input type="email" name="email" id="email"></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="회원가입">
                <input type="reset" value="리셋"></td>
        </tr>
    </table>
</form>
<div th:insert="~{/css/footer :: footer}"></div>
</body>
</html>
