<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <script>
        function joinsubmit(){
            if(submitForm.userid.value!=null||submitForm.userid.value==""){
                alert("아이디가 비어있습니다.");
                submitForm.userid.focus();
                return false;
            }else if(submitForm.pwd.value!=null||submitForm.pwd.value==""){
                alert("아이디가 비어있습니다.");
                submitForm.pwd.focus();
                return false;
            }else  if(submitForm.pwd1.value!=null||submitForm.pwd1.value==""){
                alert("아이디가 비어있습니다.");
                submitForm.pwd1.focus();
                return false;
            }else  if(submitForm.userid.value!=null||submitForm.userid.value==""){
                alert("아이디가 비어있습니다.");
                submitForm.userid.focus();
                return false;
            }else  if(submitForm.userid.value!=null||submitForm.userid.value==""){
                alert("아이디가 비어있습니다.");
                submitForm.userid.focus();
                return false;
            }else  if(submitForm.userid.value!=null||submitForm.userid.value==""){
                alert("아이디가 비어있습니다.");
                return false;
            }else  if(submitForm.userid.value!=null||submitForm.userid.value==""){
                alert("아이디가 비어있습니다.");
                return false;
            }else
        }
    </script>
</head>
<body>
<style>
    .message{
        color:red;
    }
</style>
<nav th:replace="~{/layouts/header :: nav}"></nav>
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">회원가입</h3>
                </div>
                <div class="card-body">
                    <form method="post" id="submitForm">
                        <div class="form-group">
                            <div> 아이디</div>
                            <input type="text" class="form-control" th:if="${formdata!=null}" th:value="${formdata.getUserid()}" name="userid" placeholder="아이디를 입력하세요">
                            <input type="text" class="form-control" th:if="${formdata==null}" name="userid" placeholder="아이디를 입력하세요">
                        </div>
                        <div th:if="${useriderror!=null}">
                            <span class="message" colspan="2" th:text="${useriderror}"></span>
                        </div>
                        <div class="form-group">
                            <div>비밀번호</div>
                            <input type="password" class="form-control" th:if="${formdata!=null}" th:value="${formdata.getPwd()}"  name="pwd" placeholder="비밀번호를 입력하세요">
                            <input type="password" class="form-control" th:if="${formdata==null}" name="pwd" placeholder="비밀번호를 입력하세요">
                        </div>
                        <div th:if="${pwderror!=null}">
                            <span class="message" colspan="2" th:text="${pwderror}"></span>
                        </div>
                        <div class="form-group">
                            <div>비밀번호 확인</div>
                            <input type="password" class="form-control" th:if="${formdata!=null}" th:value="${formdata.getPwd1()}"  name="pwd1" placeholder="비밀번호를 다시 입력하세요">
                            <input type="password" class="form-control" th:if="${formdata==null}" name="pwd1" placeholder="비밀번호를 다시 입력하세요">
                        </div>
                        <div th:if="${pwd1error!=null}">
                            <span class="message" colspan="2" th:text="${pwd1error}"></span>
                        </div>
                        <div class="form-group">
                            <div >이름</div>
                            <input type="text" class="form-control" th:if="${formdata!=null}" th:value="${formdata.getName()}"  name="name" placeholder="이름를 입력하세요">
                            <input type="text" class="form-control" th:if="${formdata==null}" name="name" placeholder="이름를 입력하세요">
                        </div>
                        <div th:if="${nameerror!=null}">
                            <span class="message" colspan="2" th:text="${nameerror}"></span>
                        </div>
                        <div class="form-group">
                            <div >이메일 주소</div>
                            <input type="email" class="form-control" th:if="${formdata!=null}" th:value="${formdata.getEmail()}"  name="email" placeholder="이메일 주소를 입력하세요">
                            <input type="email" class="form-control" th:if="${formdata==null}" name="email" placeholder="이메일 주소를 입력하세요">
                        </div>
                        <div th:if="${emailerror!=null}">
                            <span class="message" colspan="2" th:text="${emailerror}"></span>
                        </div>
                        <button type="submit" style="margin-top:20px" class="btn btn-primary btn-block" onclick="return joinsubmit()">가입하기</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
